.btn-card {
    cursor: pointer;
    margin-right: 20px;
    flex-basis: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.09) !important;
    transition: 0.25s;

    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}

.card-list-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flash-card {
    cursor: pointer;
    width: 18rem;
    height: 24rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08) !important;
    transition: 0.25s;

    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}

.card-preview-wrapper {
    /* One column for smartphones */
    max-width: 100%;
    display: inline-block;
}


@media (min-width: 576px) {
    .card-preview-wrapper {
        max-width: 46%;
    }
}

.card-preview {
    width: 100%;
    height: 0;
    background: #fff;
    padding-top: 125%;
    position: relative;
    margin-bottom: 12px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12) !important;

    img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }

}

@media (min-width: 576px) {
    .flash-card {
        width: 14rem;
        height: 17rem;
        margin-right: 20px;
    }

    .card-list {
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .flash-card {
        width: 12rem;
        height: 15rem;
    }
}

.add-card {
    @extend .flash-card;
    border: solid 2px #4CB5F5;
}
