#sidebar-wrapper {
    margin-left: -16rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

    .list-group {
        width: 13rem;
    }

    .list-group-item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: none;
        border-radius: 4px;
    }

    .active {
        background: #4CB5F5 !important;
    }
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -16rem;
    }
}
