.tag {
    padding: 3px 15px;
    background: #FFFFFF;
    color: #373A3C;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
        border-color: #B7BCBF;
    }

}

.tag-faded {
    color: #7A8084;

    &:hover {
        border-color: #C1C6C9;
    }
}
