// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Variables
@import 'variables';

@import 'sidebar';

@import 'card';

@import 'tag';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.img-profile-wrapper {
    width: 100%;
    padding-top: 100%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }

}

.top-border {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid #E0E0E0;
}


.bg {
    background: $background;
}

.ligher-bg {
    background: $lighter-background;
}

.card-bg {
    background: $darker-background;
}

.btn-primary {
    color: $white;
}

#app {
    min-height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.nav-item>a {
    color: #373A3C;
}

.nav-link.active {
    background: rgba($color: #000000, $alpha: 0) !important;
    border: none !important;
    color: #4CB5F5 !important;
    border-bottom: 1px solid #4CB5F5 !important;
}
